<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>~404~</title>
    <link rel="stylesheet" href="./common.css" />
    <link rel="stylesheet" href="./home.css" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
<header>
    <div class="app-header">
        <div class="app-header--main">
            <h1 class="logo">Logo</h1>
            <nav>
                <ul class="gnb">
                    <li>Home</li>
                    <li>Contact</li>
                    <li>Services</li>
                    <li>Etc</li>
                </ul>
            </nav>
        </div>
        <div class="app-header--utils">
            <!-- <input type="text" placeholder="Input Something..." /> -->
            <button id="signin_btn" class="btn signin btn-open-popup">Sign In</button>
            <a href="#">Are you not member yet?</a>
        </div>
    </div>
</header>
<section class="main-banner">
    <p class="main-banner--title">Oops O_o; 404 Not Found.</p>
    <p class="main-banner--description">
        This section is main banner's description, Please input any text.
    </p>
</section>
<section class="content">
    <th:block th:include="main_board.html"></th:block>
    <th:block th:include="login.html"></th:block>
    <th:block th:include="join.html"></th:block>
</section>
<section class="content second">
    <h2 class="content--title">Second Section</h2>

</section>
<section class="content">
    <h2 class="content--title">Third Section</h2>

</section>
<section class="content second">
    <h2 class="content--title">Forth Section</h2>
</section>
<footer>
    <ul class="footer-nav">
        <li>Daily Check</li>
        <li>FAQs</li>
        <li>Time Study</li>
        <li>About us</li>
        <li>Contact us</li>
    </ul>
    <div class="footer-info">
        <p>
            Professor Lee. Room number 404. Incheon LeeSangDong 403-25.
            032-142-2535
        </p>
        <p>
            Team Member, Yuli - yuli@naver.com.<br />
            Somebody - everyone@naver.com<br />
            Whoo? - whooareyou@naver.com
        </p>
    </div>
</footer>
</body>
<script th:inline="javascript">
    let initFunc = () => {
        const $ = (selector) => document.querySelector(selector);
        window.onload = () => {
            const $header = $("header");
            window.addEventListener("scroll", (e) => {
                if (window.scrollY > 300 && $header.classList.contains("active"))
                    return;
                $header.classList[window.scrollY > 200 ? "add" : "remove"]("active");
            });
        };
    };
    initFunc();
</script>
</html>
