<link rel="stylesheet" href="./modal.css" />

<div class="join">
    <div class="join_body">
        <h3>회원가입</h3>
        <form id="joinFrm">
            <input type="text" name="mid" autofocus placeholder="아이디" required>
            <br>
            <input type="password" name="mpw" placeholder="비밀번호" required>
            <br>
            <input type="text" name="mname" placeholder="이름" required>
            <br>
            <input type="text" name="mphone" placeholder="연락처">
            <br>
            <button type="submit" id="joinbtn">회원가입</button>
        </form>
    </div>
</div>
<script th:inline="javascript">
    const jBody = document.querySelector('body');
    const join = document.querySelector('.join');
    const joinOpenPopup = document.querySelector('.join-open-popup');

    joinOpenPopup.addEventListener('click', () => {
        join.classList.toggle('show');

        if (join.classList.contains('show')) {
            jBody.style.overflow = 'hidden';
        }
    });

    join.addEventListener('click', (event) => {
        if (event.target === join) {
            join.classList.toggle('show');

            if (!join.classList.contains('show')) {
                jBody.style.overflow = 'auto';
            }
        }
    });

  $("#joinbtn").click(function (){
      // form 데이터를 가져와 직렬화 한 후 전송
      const formData = $("#joinFrm").serialize();
      console.log(formData);

      $.ajax({
          url : "/member/join",
          type : "POST",
          data : formData,
          success : function (result){
              alert(result);
          },
          error : function (error){
              alert("전송 실패");
              console.log(error);
          }
      })
  });
</script>
