<link rel="stylesheet" href="./modal.css" />

<div class="modal">
    <div class="modal_body">
        <br>
        <h3>로그인</h3>
        <br>
        <form id="loginFrm">
            <input id="inputid" type="text" name="mid" placeholder="아이디" required>
            <br>
            <input id="inputpw" type="password" name="mpw" placeholder="비밀번호" required>
            <br>
            <br>
            <button type="button" id="loginbtn">로그인</button>
        </form>
    </div>
</div>

<script th:inline="javascript">
    const body = document.querySelector('body');
    const modal = document.querySelector('.modal');
    const btnOpenPopup = document.querySelector('.btn-open-popup');

    btnOpenPopup.addEventListener('click', () => {
        modal.classList.toggle('show');

        if (modal.classList.contains('show')) {
            body.style.overflow = 'hidden';
        }
    });

    modal.addEventListener('click', (event) => {
        if (event.target === modal) {
            modal.classList.toggle('show');

            if (!modal.classList.contains('show')) {
                body.style.overflow = 'auto';
            }
        }
    });

  $("#loginbtn").click(function (){
      // form 데이터를 가져와 직렬화 한 후 전송
      const formData = $("#loginFrm").serialize();
      console.log(formData);

      $.ajax({
          url : "/member/login",
          type : "POST",
          data : formData,
          success : function (result){
              alert(result);
          },
          error : function (error){
              alert("전송 실패");
              console.log(error);
          }
      })
  });
</script>
